:root {
    --clr-1: #2E323F;
    --clr-2: #3B4050;
    --clr-3: #6F737F;
    --clr-4: #FFFFFF;
    --clr-gold: #A59678;
}

/* reset */
*, *::before, *::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img {
    max-width: 100%;
}

/* general styling */
body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #fff;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* typography */
.text-gold {
    color: var(--clr-gold);
}

.text-center {
    text-align: center;
}

.monserrat {
    font-family: 'Monserrat', sans-serif;
}

.heading {
    font-size: var(--h-size, 1.5rem);
    line-height: var(--h-height);
}

.para {
    color: var(--clr-p, #fff);
    line-height: 1.6;
    font-size: var(--p-size, inherit);
}

/* helper classes */
.flow-content > * + * {
    margin-top: var(--top);
    margin-right: var(--right); 
    margin-bottom: var(--bot);
    margin-left: var(--left);
}

.row {
    
}

.gap-content > * + * {
    margin-top: var(--top--);
    margin-right: var(--right--); 
    margin-bottom: var(--bot--);
    margin-left: var(--left--);
}

.container {
    width: min(90%, 1200px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    text-transform: uppercase;
    background:var(--clr-gold);
    padding: .25em 1em;
    border-radius: 100vw;
}

.visible {
    display: none;
}

.position {
    position: absolute;
}

/* sections */

/* navbar */
.nav--bar {
    padding: .5em 0;

    background: var(--clr-1);
}

.nav__list {
    text-align: center;
    --top: .75em;
}

.nav__item {

}

.nav__link {
    font-size: 1rem;
}

.hamburger {
    position: absolute;
    top: calc(height * .5);
    right: 0px;
}

.logo {
}





.nav__item {
    font-size: 1.125rem;
    text-transform: uppercase;
}

/* header */
header {
    --h-size: 3.625rem;
    --clr-p: var(--clr-4);
    --h-height: 1;
    --top: 3em;
    --top--: 1em;

    padding: 3rem 1rem;
    background: var(--clr-2);
}

.header__content {
    --inner-gap: 1em;
}

/* cards */
.cards {
    --clr-p: var(--clr-2);
    --top: 3em;
    --top--: 1em;

    padding: 4em 0;
    background: hsl(40, 20%, 96%);
}

/* main */
main {
    padding: 4em 0;
    --top: 2em;
    --top--: 1em;
}

article {
    --clr-p: var(--clr-2);
}

.card--dark {
    --top--: 1em;

    padding: 1em;
    background: var(--clr-2);
    color: #fff;
}

/* footer */
.footer {
    --top: 3em;
    --top--: 1em;
    padding: 4em 0;
    background: var(--clr-2);
}

.footer__heading {
    --h-size: 2.5rem;
}

.footer__content {
    --h-size: 1.6rem;
}

.nav__link:focus,
.nav__link:hover,
.footer--link:focus,
.footer--link:hover {
    outline: 1px solid white;
    outline-offset: 3px;
}



@media (min-width: 700px) {
    .container {
        width: min(75%, 1200px);
    }

    .hamburger {
        display: none;
    }
 
    .row {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .footer .row > * {
        flex-basis: 47%;
    }

    .nav__list {
        display: flex;
        justify-content: flex-end;
        --top: 0;
        --left: 10px;
    }

    .nav--primary {
        justify-self: flex-end;
    }

}

@media (min-width: 1000px) {
    .row {
        display: flex;
        flex-wrap:initial;
    }

    .container {
        width: min(90%, 1200px);
    }

    .header__content {
        align-self: flex-end;
    }

    .cards {
        --top: 0;
    }

    /* article {
        width: 64%;
    }

    aside {
        width: 35%;
    } */

    .footer .row {
        flex-basis: 100%;
    }
}